<div class="col-xs-12 col-md-9 main">
    <ul class="nav nav-tabs nav-tabs-zen mb10">
        <li class="active"><a href="#/questions">最新的</a></li>
        <li><a href="#/questions/hottest">热门的</a></li>
        <li><a href="#/questions/reward">悬赏的</a></li>
        <li><a href="#/questions/unAnswered">未回答的</a></li>
    </ul>

    <div class="stream-list question-stream">
        <!--<section class="stream-list-item">
            <div class="qa-rank">
                <div class="answers  answered ">
                    1<small> 回答 </small>
                </div>
                <div class="views hidden-xs">
                    103<small>浏览</small>
                </div>
            </div>
            <div class="summary">
                <ul class="author list-inline">
                    <li>
                        <a href="#/people/8" target="_blank">柯南@￥</a>
                        <span class="split"></span>
                        <span class="askDate">2017-01-05 15:46</span>
                    </li>
                </ul>
                <h2 class="title">
                    <a href="#/question/1064" target="_blank">CentOS安装LAMP(Apache+MySQL+PHP)</a>
                </h2>
                <ul class="taglist-inline ib">
                    <li class="tagPopup"><a class="tag" target="_blank" href="#/topic/%E8%BF%90%E7%BB%B4">运维</a></li>
                </ul>
            </div>
        </section>-->
        <section class="stream-list-item" ng-repeat="item in questionList">
            <div class="qa-rank">
                <div class="answers  answered ">
                    {{item.answer_num}}<small> 回答 </small>
                </div>
                <div class="views hidden-xs">
                    96<small>浏览</small>
                </div>
            </div>
            <div class="summary">
                <ul class="author list-inline">
                    <li>
                        <a href="#/people/{{item.user_id}}" target="_blank">{{item.user_id.truename}}</a>
                        <span class="split"></span>
                        <span class="askDate">{{item.create_time|date:'yyyy-MM-dd HH:mm'}}</span>
                    </li>
                </ul>
                <h2 class="title">
                    <a href="/question/{{item._id}}">{{item.title}}</a>
                </h2>
                <ul class="taglist-inline ib">
                    <li class="tagPopup"><a class="tag" target="_blank" href="/topic/{{item.cname}}">{{item.cname}}</a></li>
                </ul>
            </div>
        </section>

    </div><!-- /.stream-list -->

    <div class="text-center">
        <ul class="pagination"><li class="disabled"><span>«</span></li> <li class="active"><span>1</span></li><li><a href="#/questions?page=2">2</a></li><li><a href="#/questions?page=3">3</a></li><li><a href="#/questions?page=4">4</a></li><li><a href="#/questions?page=5">5</a></li><li><a href="#/questions?page=6">6</a></li><li><a href="#/questions?page=7">7</a></li><li><a href="#/questions?page=8">8</a></li><li class="disabled"><span>...</span></li><li><a href="#/questions?page=51">51</a></li><li><a href="#/questions?page=52">52</a></li> <li><a href="#/questions?page=2" rel="next">»</a></li></ul>
    </div>
</div>