<div class="side-alert alert alert-link">
    <a ui-sref="questioncreate" class="btn btn-warning btn-block">我要提问</a>
    <a href="#" class="btn btn-primary btn-block">分享经验</a>
</div>
<div class="widget-box">
    <h4 class="widget-box-title">最新公告</h4>
    <ul class="widget-links list-unstyled">
        <li class="widget-links-item">
            <a title="1024程序员节，大神问答正式上线啦！" href="#">1024程序员节，大神问答正式上线啦！</a>
        </li>
    </ul>
</div>
<div class="widget-box">
    <h2 class="h4 widget-box-title">热议话题 <a href="#/topics" title="更多">»</a></h2>
    <ul class="taglist-inline multi">
        <li class="tagPopup"><a class="tag" data-toggle="popover" href="#/topic/iOS" target="_blank">iOS</a></li>
        <li class="tagPopup"><a class="tag" data-toggle="popover" href="#/topic/Android" target="_blank">Android</a>
        </li>
        <li class="tagPopup"><a class="tag" data-toggle="popover" href="#/topic/Java" target="_blank">Java</a></li>
        <li class="tagPopup"><a class="tag" data-toggle="popover" href="#/topic/Web%E5%89%8D%E7%AB%AF" target="_blank">Web前端</a>
        </li>
        <li class="tagPopup"><a class="tag" data-toggle="popover" href="#/topic/Linux" target="_blank">Linux</a></li>
        <li class="tagPopup"><a class="tag" data-toggle="popover"
                                href="#/topic/%E5%BE%AE%E4%BF%A1%E5%B0%8F%E7%A8%8B%E5%BA%8F" target="_blank">微信小程序</a>
        </li>
        <li class="tagPopup"><a class="tag" data-toggle="popover" href="#/topic/%E8%BF%90%E7%BB%B4"
                                target="_blank">运维</a></li>
        <li class="tagPopup"><a class="tag" data-toggle="popover" href="#/topic/Python" target="_blank">Python</a></li>
        <li class="tagPopup"><a class="tag" data-toggle="popover" href="#/topic/%E5%A4%A7%E6%95%B0%E6%8D%AE"
                                target="_blank">大数据</a></li>
        <li class="tagPopup"><a class="tag" data-toggle="popover" href="#/topic/MYSQL" target="_blank">MYSQL</a></li>
    </ul>
</div>
<div class="widget-box mt30">
    <h2 class="widget-box-title">
        财富榜
        <a href="#/top/coins" title="更多">»</a>
    </h2>
    <ol class="widget-top10">
        <li class="text-muted">
            <img class="avatar-32" src="/img/avatar/55_middle.jpg">
            <a href="#/people/12" class="ellipsis" target="_blank">之首道</a>
            <span class="text-muted pull-right">6323 金币</span>
        </li>
        <li class="text-muted">
            <img class="avatar-32" src="/img/avatar/55_middle.jpg">
            <a href="#/people/4" class="ellipsis" target="_blank">Leon</a>
            <span class="text-muted pull-right">6109 金币</span>
        </li>
        <li class="text-muted">
            <img class="avatar-32" src="/img/avatar/55_middle.jpg">
            <a href="#/people/8" class="ellipsis" target="_blank">柯南@￥</a>
            <span class="text-muted pull-right">3082 金币</span>
        </li>
        <li class="text-muted">
            <img class="avatar-32" src="/img/avatar/55_middle.jpg">
            <a href="#/people/2" class="ellipsis" target="_blank">小石头</a>
            <span class="text-muted pull-right">2874 金币</span>
        </li>
        <li class="text-muted">
            <img class="avatar-32" src="/img/avatar/55_middle.jpg">
            <a href="#/people/5" class="ellipsis" target="_blank">小火影</a>
            <span class="text-muted pull-right">2130 金币</span>
        </li>
        <li class="text-muted">
            <img class="avatar-32" src="/img/avatar/55_middle.jpg">
            <a href="#/people/3" class="ellipsis" target="_blank">wenjin</a>
            <span class="text-muted pull-right">1350 金币</span>
        </li>
        <li class="text-muted">
            <img class="avatar-32" src="/img/avatar/55_middle.jpg">
            <a href="#/people/7" class="ellipsis" target="_blank">zoe</a>
            <span class="text-muted pull-right">1106 金币</span>
        </li>
        <li class="text-muted">
            <img class="avatar-32" src="/img/avatar/55_middle.jpg">
            <a href="#/people/6" class="ellipsis" target="_blank">symlich</a>
            <span class="text-muted pull-right">984 金币</span>
        </li>
        <li class="text-muted">
            <img class="avatar-32" src="/img/avatar/55_middle.jpg">
            <a href="#/people/18" class="ellipsis" target="_blank">咕咚</a>
            <span class="text-muted pull-right">457 金币</span>
        </li>
        <li class="text-muted">
            <img class="avatar-32" src="/img/avatar/55_middle.jpg">
            <a href="#/people/1" class="ellipsis" target="_blank">admin</a>
            <span class="text-muted pull-right">454 金币</span>
        </li>
    </ol>
</div>
